body{
	background-color:#ffffff;
	color: #474747;
	font-style: geneva;
	border-right: 730px;
}
p.clase{
    border: #000000 double 4px;
    padding-left: 1.2em;
    border-radius: 3em;
    width: 700px;
    Background-color: #70DC1C;
    
}
h1{
	font-style: Sans-Serif;
}
.columnas{
	column: 4 250px;
	column-gap: 25px;
	column-rule: 3px;
	column-rule: 4px solid #000000;
}
img{
	width: 250px;
	height: 200px;
}
article p{
	width: 250px;
}
