body{
	background-color:#ffffff;
	color: #474747;
	font-style: geneva;
	border-right: 730px;
}
.clase{
    border: #000000 double 4px;
    padding-left: 1.2em;
    border-radius: 3em;
    width: 1000px;
    Background-color: #00C8D8;
    
}
h1{
	font-style: Sans-Serif;
}
.Columnas{
        Justify-content: Center;
	display: block;
	columns: 4;
	column-rule: 2px #000000 solid;
	
}
img{
	width: 250px;
	height: 200px;
	Margin: 0 30px;
}
h2, h1{
	text-align: center;
	text-decoration: underline;
}
